<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href='./blue' id="1">blue</a>
            </li>
            <li>
                <a href='./red' id="2">red</a>
            </li>
            <li>
                <a href='./green' id="3">green</a>
            </li>
            <li>
                <a href='./yellow' id="4">yellow</a>
            </li>
        </ul>
    </nav>
</body>
</html>