<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
   <h1>name:SIDIBE Zoubair</h1> 
    <h2>picture:Cool</h2>
    <h3>hobbies: movies Netflix</h3>
    <h4>skills: programmer</h4>
    <h5>strengths: i respect all syntax in programming</h5>
    <h6>weaknesses: I'am evry time serious</h6>
</body>
</html>